
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ settings.SITE_NAME }} - {% block page_title %}{% endblock %}</title>

  <link href="{{ url_for('static', path='vendors/bootstrap-5.3.3/css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='vendors/bootstrap-icons-1.11.3/bootstrap-icons.min.css') }}" rel="stylesheet">
  {% block headers %}{% endblock %}

  {% block css %}{% endblock %}
</head>
<body>

<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="offcanvasSideMenu">
      <i class="bi bi-three-dots-vertical"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" href="{{ url_for('home') }}">MAZE</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">
            <i class="bi bi-house"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/LaunchPlatform/maze">
            <i class="bi bi-github"></i> GitHub Repo
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">MAZE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span><i class="bi bi-bar-chart-line"></i> Experiments</span>
          </h6>
          <ul class="nav flex-column mb-auto">
            {% for experiment in experiments %}
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('view_experiment', id=experiment.id) }}">
                {{ experiment.name }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <hr class="my-3">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span><i class="bi bi-files"></i> Articles</span>
          </h6>
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="https://fangpenlin.com/posts/2025/02/06/maze-how-i-would-build-agi/">
                Article00 - How I would build AGI
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="https://fangpenlin.com/posts/2025/02/18/maze-my-ai-models-are-finally-evolving/">
                Article01 - My AI models are finally evolving!
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% block content %}{% endblock %}
    </main>
  </div>
</div>

<script src="{{ url_for('static', path='vendors/bootstrap-5.3.3/js/bootstrap.bundle.js') }}"></script>
{% block js %}{% endblock %}

</body>
</html>
