{% extends "base.html" %}

{% block page_title %}
  View zone {{ zone.display_name }}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('view_experiment', id=zone.environment.experiment_id) }}">Experiment {{ zone.environment.experiment.name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{  url_for('view_environment', id=zone.environment_id) }}">Environment {{ zone.environment.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{ request.url }}">Zone {{ zone.index }}</a>
    </li>
  </ol>
</nav>

<h1>Zone: {{ zone.display_name }}</h1>

{% for period in zone.environment.experiment.periods.order_by(models.Period.index.desc()) %}

<h2>Period: {{ period.index }}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Status</th>
      <th scope="col" class="text-end">Op Cost</th>
      <th scope="col" class="text-end">Parameters</th>
      <th scope="col" class="text-end">Initial Credit</th>
      <th scope="col" class="text-end">Credit</th>
    </tr>
  </thead>
  <tbody>
    {% for avatar in zone.avatars.filter_by(period=period).order_by(models.Avatar.credit.desc().nullslast()) %}
    <tr>
      <th scope="row">
        <a href="{{ url_for('view_avatar', id=avatar.id) }}">{{ avatar.id }}</a>
      </th>
      <td>
        {{ avatar.status.value }}
      </td>
      <td class="text-end">
        {{ avatar.agent.op_cost | format_int | default('', true) }}
      </td>
      <td class="text-end">
        {{ avatar.agent.parameters_count | format_int | default('', true) }}
      </td>
      <td class="text-end">
        {{ avatar.initial_credit | format_int | default('', true) }}
      </td>
      <td class="text-end">
        {{ avatar.credit | format_int | default('', true) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endfor %}

{% endblock content %}