{% extends "base.html" %}

{% block page_title %}
  View agent {{ agent.id }}
{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='vendors/dagre/lodash-4.17.15.js') }}"></script>
<script src="{{ url_for('static', path='vendors/dagre/graphlib-2.1.3.min.js') }}"></script>
<script src="{{ url_for('static', path='vendors/dagre/d3.v7.min.js') }}"></script>
<script src="{{ url_for('static', path='vendors/dagre/dagre-1.0.4.min.js') }}"></script>
<script src="{{ url_for('static', path='vendors/dagre/dagre-d3.core-0.6.4.min.js') }}"></script>
<script src="{{ url_for('static', path='vendors/dagre/dagre-d3-0.6.4.min.js') }}"></script>

<script>
{% if dag is not none %}
  const dag = {{ dag | dump_dag | tojson }};
{% else %}
  const dag = null;
{% endif %}
</script>
<script>

function makeNodeAttrRow(key, value) {
    return `<tr>
      <th scope="row">
        ${key}
      </th>
      <td>
        ${value}
      </td>
    </tr>`;
}

function makeNodeTable(node) {
    if (node.attributes.length === 0) {
        return `<span class="text-center"><strong>${node.name}</strong></span>`;
    }
    return `<table class="table table-bordered model-node">
  <caption class="text-center"><strong>${node.name}</strong></caption>
  <tbody>
    ${ node.attributes.map(([key, value]) => makeNodeAttrRow(key, value)).join("\n") }
  </tbody>
</table>`;
}

// Create the input graph
var g = new dagreD3.graphlib.Graph()
  .setGraph({})
  .setDefaultEdgeLabel(function() { return {}; });

for (const [index, node] of dag.nodes.entries()) {
    let className;
    let labelType = "html";
    let shape = "table";
    switch (node.name) {
        case "INPUT":
        case "OUTPUT":
            shape = "rect";
            className = "input"
            labelType = undefined;
            break;
    }
    g.setNode(
        index,
        {
            label: labelType === "html" ? makeNodeTable(node) : node.name,
            labelType,
            class: className,
        }
    );
}

g.nodes().forEach(function(v) {
  var node = g.node(v);
  // Round the corners of the nodes
  node.rx = node.ry = 5;
});

for (const edge of dag.edges) {
    const attrs = edge.label !== null ? { label: edge.label } : {};
    g.setEdge(edge.src, edge.dest, attrs);
}

// Create the renderer
var render = new dagreD3.render();

// Set up an SVG group so that we can translate the final graph.
var svg = d3.select("svg#svg-canvas"),
    svgGroup = svg.append("g");

// Set up zoom support
var zoom = d3.zoom().on("zoom", function(event) {
  svgGroup.attr("transform", event.transform);
});
svg.call(zoom);

// Run the renderer. This is what draws the final graph.
render(d3.select("svg g"), g);

// Center the graph
var initialScale = 0.75;
svg.call(zoom.transform, d3.zoomIdentity.translate((svg.attr("width") - g.graph().width * initialScale) / 2, 20).scale(initialScale));

svg.attr("height", g.graph().height + 40);
</script>
{% endblock %}

{% block css %}
<style>

g.input > rect, g.output > rect {
  fill: #aaa;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

.model-node {
  caption-side: top;
}

</style>
{% endblock %}

{% block content %}
<h1>Agent: {{ agent.id }}</h1>

<dl>
  <dt>ID</dt>
  <dd>{{ agent.id }}</dd>

  <dt>Operation Cost</dt>
  <dd>{{ agent.op_cost | format_int }}</dd>

  <dt>Build Cost</dt>
  <dd>{{ agent.build_cost | format_int }}</dd>

  <dt>Parameters</dt>
  <dd>{{ agent.parameters_count | format_int }}</dd>

  <dt>LHS Parent</dt>
  <dd>
    {% if agent.lhs_parent is none %}
      None
    {% else %}
      <a href="{{ url_for('view_agent', id=agent.lhs_parent_id) }}">{{ agent.lhs_parent.id }}</a>
    {% endif %}
  </dd>

  <dt>RHS Parent</dt>
  <dd>
    {% if agent.rhs_parent is none %}
      None
    {% else %}
      <a href="{{ url_for('view_agent', id=agent.rhs_parent_id) }}">{{ agent.rhs_parent.id }}</a>
    {% endif %}
  </dd>

  <dt>LHS Children</dt>
  <dd>
    <ul>
    {% for child_agent in agent.lhs_children %}
      <li><a href="{{ url_for('view_agent', id=child_agent.id) }}">{{ child_agent.id }}</a></li>
    {% endfor %}
    </ul>
  </dd>

  <dt>RHS Children</dt>
  <dd>
    <ul>
    {% for child_agent in agent.rhs_children %}
      <li><a href="{{ url_for('view_agent', id=child_agent.id) }}">{{ child_agent.id }}</a></li>
    {% endfor %}
    </ul>
  </dd>

  <dt>Avatars</dt>
  <dd>
    <ul>
    {% for avatar in agent.avatars %}
      <li><a href="{{ url_for('view_avatar', id=avatar.id) }}">{{ avatar.id }}</a></li>
    {% endfor %}
    </ul>
  </dd>

  <dt>PyTorch Model</dt>
    <svg id="svg-canvas" width=960 height=600></svg>
  <dd>

  </dd>

  <dt>Gene</dt>
  <dd>
    <pre><code>{{ agent.gene | tojson(2) }}</code></pre>
  </dd>
</dl>

{% endblock content %}