{% extends "base.html" %}

{% block page_title %}
  View agent {{ agent.id }}
{% endblock %}

{% block content %}
<h1>Agent: {{ agent.id }}</h1>

<dl>
  <dt>ID</dt>
  <dd>{{ agent.id }}</dd>

  <dt>Gene</dt>
  <dd>{{ agent.gene}}</dd>

  <dt>LHS Parent</dt>
  <dd>
    {% if agent.lhs_parent is none %}
      None
    {% else %}
      <a href="{{ url_for('view_agent', id=agent.lhs_parent_id) }}">{{ agent.lhs_parent.id }}</a>
    {% endif %}
  </dd>

  <dt>RHS Parent</dt>
    {% if agent.rhs_parent is none %}
      None
    {% else %}
      <a href="{{ url_for('view_agent', id=agent.rhs_parent_id) }}">{{ agent.rhs_parent.id }}</a>
    {% endif %}
</dl>

TODO: list avatars

{% endblock content %}