{% extends "base.html" %}

{% block page_title %}
  View avatar {{ avatar.id }}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('view_experiment', id=avatar.zone.environment.experiment_id) }}">Experiment {{ avatar.zone.environment.experiment.name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{  url_for('view_environment', id=avatar.zone.environment_id) }}">Environment {{ avatar.zone.environment.name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{  url_for('view_zone', id=avatar.zone_id) }}">Zone {{ avatar.zone.index }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{ request.url }}">Avatar {{ avatar.id }}</a>
    </li>
  </ol>
</nav>

<h1>Avatar: {{ avatar.id }}</h1>

<dl>
  <dt>ID</dt>
  <dd>{{ avatar.id }}</dd>

  <dt>Status</dt>
  <dd>{{ avatar.status.value }}</dd>

  <dt>Initial Credit</dt>
  <dd>{{ avatar.initial_credit | format_int }}</dd>

  <dt>Credit</dt>
  <dd>
    {{ avatar.credit | format_int | default('None', true) }}
  </dd>

  <dt>Zone</dt>
  <dd><a href="{{ url_for('view_zone', id=avatar.zone_id) }}">{{ avatar.zone.display_name}}</a></dd>

  <dt>Period</dt>
  <dd><a href="#">{{ avatar.period.index}}</a></dd>

  <dt>Agent</dt>
  <dd><a href="{{ url_for('view_agent', id=avatar.agent_id) }}">{{ avatar.agent_id }}</a></dd>
</dl>

<h2>Epoches</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-end">#</th>
      <th scope="col" class="text-end">Train Size</th>
      <th scope="col" class="text-end">Loss</th>
      <th scope="col" class="text-end">Correct</th>
      <th scope="col" class="text-end">Tests</th>
      <th scope="col" class="text-end">Accuracy</th>
      <th scope="col" class="text-end">Cost</th>
      <th scope="col" class="text-end">Income</th>
    </tr>
  </thead>
  <tbody>
    {% for epoch in avatar.epoches %}
    <tr>
      <th scope="row" class="text-end">{{ epoch.index }}</th>
      <td class="text-end">
        {{ epoch.train_data_size | format_int }}
      </td>
      <td class="text-end">
        {% if epoch.train_loss %}
          {{ epoch.train_loss[-1] | format_float }}
        {% endif %}
      </td>
      <td class="text-end">
        {{ epoch.test_correct_count | format_int }}
      </td>
      <td class="text-end">
        {{ epoch.test_total_count | format_int }}
      </td>
      <td class="text-end">
        {{ (epoch.test_correct_count / epoch.test_total_count) | percentage }}
      </td>
      <td class="text-end">
        {{ epoch.cost | format_int }}
      </td>
      <td class="text-end">
        {{ epoch.income | format_int }}
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock content %}